<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskMate</title>
    <link rel="shortcut icon" type="image/png" href={{ url_for("static", filename="favicon.png" ) }}>
    <link rel="stylesheet" href={{ url_for("static", filename="style.css" ) }}>
</head>

<body>
    <h1>{% block title %}{% endblock %}</h1>
    <form action={% block url_for %}{% endblock %} method="post" enctype=multipart/form-data>
        {% block insert_title %}
        <label for="input-title">Question title</label><br>
        <input type="text" name="title" id="input-title" required value="{% block original_title %}{% endblock %}"><br>
        {% endblock %}
        <label for="input-message">Your {% block message_name %}{% endblock %}</label><br>
        <textarea name="message" id="input-message" cols="60" rows="10"
            required>{% block original_message %}{%endblock %}</textarea><br>
        {% block input_picture %}
        <label for="input-picture">Upload image</label>
        <input type="file" id="input-picture" name="image" accept="image/jpeg, image/gif">
        <br>
        {% endblock %}
        <input type="submit" value={% block submit_value %}{% endblock %}>
    </form>
</body>

</html>