<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskMate</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
</head>

<body>
    <h1>AskMate</h1>
    <br>
    <table>
        <tr>
            {% for key in header %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for question in questions %}
        <tr>
            <td><a href="/question/{{ question['id'] }}">{{ question['id'] }}</a></td>
            <td>{{ question['title'] }}</td>
            <td>{{ question['message'] }}</td>
            <td>{{ question['edit_count'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/add-question">Ask a question</a>
</body>

</html>