<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskMate</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
</head>

<body>
    <p>Title:</p>
    <h2>{{ question['title'] }}</h2>
    <p>Your question:</p>
    <p>{{ question['message'] }}</p>
    <p>Submited: {{ question['submission_time'] }}</p>
    <p>Views: {{ question['view_number'] }}</p>
    <a href={{ url_for("edit_question", question_id=question['id']) }} title="Edit question">Edit
        question</a>
    <br>
    <a href={{ url_for("delete_question", question_id=question['id']) }} title="Delete question">Delete
        question</a>
    <br>
    <a href={{ url_for("index") }} title="Back to main page">Return to main page</a>
</body>

</html>